.descriptionContainer {
  margin-left: 50px;
  margin-right: 100px;
}
.descriptionContainer p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 22px;
}

.descriptionContainer p span {
  margin-right: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .descriptionContainer {
    margin-left: 50px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 500px) {
  .descriptionContainer {
    margin-left: 0px;
    margin-right: 0px;
  }
  .info > p {
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }
  .descriptionContainer > p {
    margin-top: 30px;
  }
}
