.containerForm {
  width: 40%;
  margin-left: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.groupInput {
  width: 100%;
  display: flex;
  align-content: stretch;
}

.containerForError {
  width: 100%;
  margin: 0px 20px 40px 0px;
}
.containerForError span {
  color: rgb(191, 20, 20);
}
.shippingInput {
  width: 100%;
  padding: 16px 16px 16px 12px;
  border: 2px solid rgb(123, 125, 120);
  border-radius: 4px;
  outline: none;
}
.shippingInput:focus {
  border: 2px solid rgb(21, 23, 21);
}

/* button */
/* #2ea44f; */
.saveAndPay {
  width: 50%;
  align-self: flex-end;
  margin-right: 20px;
  letter-spacing: 1px;
  background-color: #111211;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 16px 16px 12px;
  position: relative;
  text-align: center;
}

.saveAndPay:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
/* wartośc not sprawia że własciwosci sa stosowane do elemntu ktory nie spełnia podanego kryterium */

.saveAndPay:hover {
  background-color: #333634;
}

.bsaveAndPay:focus {
  box-shadow: rgba(75, 81, 77, 0.4) 0 0 0 3px;
  outline: none;
}

.saveAndPay:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.saveAndPay:active {
  background-color: #1e211f;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media screen and (max-width: 1080px) {
  .containerForm {
    width: 80%;
    margin: 20px auto 20px auto;
  }
  .groupInput {
    flex-direction: column;
  }
  .containerForError {
    margin: 0px 20px 20px 0px;
  }

  .saveAndPay {
    margin-right: 0px;
  }
}
